
    <script type="text/javascript" src="/assets/js/tipuesearch_set.js"></script>
    <script type="text/javascript" src="/assets/js/tipuesearch.js"></script>
    <script type="text/javascript" src="/assets/js/tether.js"></script>
    <script type="text/javascript" src="/assets/js/bootstrap.js"></script>
    <script type="text/javascript" src="/assets/js/mdb.js"></script>
    <script type="text/javascript" src="/assets/js/jquery.easing.js"></script>
    <script type="text/javascript" src="/assets/js/masonry.js"></script>
    <script type="text/javascript" src="/assets/js/mainPage.js"></script>
</body>
</html>