<% include ./partials/header %>
<div class="section-header">

    <div id="#mainPage-carsouel">
    <div id="carousel-recipeGo" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-recipeGo" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-recipeGo" data-slide-to="1"></li>
            <li data-target="#carousel-recipeGo" data-slide-to="2"></li>
        </ol>

      <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="/assets/image/mainPageImg1.jpg" alt="mainPageImg1">
            <div class="carousel-caption">
                <h2>Make Your Recipe Special</h2>
            </div>
        </div>
        <div class="item">
            <img src="/assets/image/mainPageImg2.jpg" alt="mainPageImg2">
            <div class="carousel-caption">
              <h2>Make Your Dinner Flavorful</h2>
            </div>
        </div>
        <div class="item">
            <img src="/assets/image/mainPageImg3.jpg" alt="mainPageImg3">
            <div class="carousel-caption">
              <h2>Make Your Dishes healthy</h2>
            </div>
        </div>
    </div><!--carousel-inner list box-->

        <form  id="searchForm" action="/landing" method="post">
            <div class="input-group">
                <input type="text" name="searchItem"
                       list="search"
                       class="form-control"
                       autocomplete="off" required>
                <span class="input-group-btn">
                    <button class="btn btn-warning" type="submit">SEARCH</button>
                </span>
            </div>
            <datalist id="search">
                <option>Chicken</option>
                <option>Spicy</option>
            </datalist>
        </form>


    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-recipeGo" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-recipeGo" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
    </div>
</div>
</div>
<div class="fresh-recipe">
    <div class="container">
       <div class = "row">
           <div class="col-lg-12 textarea">
                    <h2>Fresh Recipe</h2>
                    <hr class="br-dish">
           </div>
       </div>

    </div>
    <div id="portfolio" class="container">
        <div class="row">
            <% Recipe.forEach(function(foundrecipe){ %>
                <div class="col-sm-6 col-md-4 portfolio-item">
                   <a href="recipe/<%= foundrecipe._id %>" class="portfolio-link" data-toggle="modal">
                       <div class="portfolio-hover">
                            <div class="portfolio-hover-content">

                           </div>
                        </div>
                        <img class="wow" src="/assets/image/<%= foundrecipe.image %>" class="img-responsive" alt="">
                   </a>
                    <div class="portfolio-caption">
                      <h3><%= foundrecipe.title %></h3>
                    </div>
                </div> 
            <% }); %>
        </div>
    </div>
</div>

<div class="footer-copyright">
        <div id="footer-text" class="container-fluid">
            <p>© 2016 Copyright:  <a href="/landing"> Recipe Go </a></p>
        </div>
</div>
<% include ./partials/footer %>