<% include ../partials/header %>
<div class="ui container">
    <form action="/recipe" class="ui form" method="post">
        <div class="field">
            <label for="">Title</label>
            <input type="text" name="recipe[title]" placeholder="Recipe Title">
        </div>
        <div class="field">
            <label for="">Image</label>
            <input type="text" name="recipe[image]" placeholder="ImageURL">
        </div>
        <div class="field">
            <label for="">Description</label>
            <textarea name="recipe[description]" placeholder="Recipe Description"></textarea>
        </div>
        <div class="field">
            <label for="">Ingredients</label>
            <textarea name="recipe[ingredients]" placeholder="Recipe ingredients"></textarea>
        </div>
        <div class="field">
            <label for="">Directions</label>
            <textarea name="recipe[directions]" placeholder="Recipe Directions"></textarea>
        </div>
        <div class="field">
            <label for="">Nutrition Facts</label>
            <textarea name="recipe[nutrition_facts]" placeholder="Recipe Nutrition Facts"></textarea>
        </div>
        <div class="field">
            <input type="submit">
        </div>
    </form>
</div>

<% include ../partials/footer %>